# node
node_modules/
.yarn/
.pnp.cjs
.pnp.loader.mjs

# vite
dist/

# eleventy
_site/

# react-scripts
build/

# gatsby
.cache/
v2/public/

# unity 
!space-shooter/Build/

# netlify
.netlify/

# next
.next/

# mac
.DS_Store
