/Game container
.game
  /All game buttons
  .btn-game-container
    .btn-game#btn-1
    .btn-game#btn-2
    .btn-game#btn-3
    .btn-game#btn-4
  /Center module
  .module.center
    /Title and mute button
    .title 
      Si
      %span> m
      on
    /Score display
    .score 00
    /Modification buttons
    .row
      .col-6
        %button.btn.btn-mod#play Play
      .col-6
        %button.btn.btn-mod#strict Strict
    .row
      .col-6
        %button.btn.btn-mod#reset Reset
      .col-6
        %button.btn.btn-mod#no-repeat No Repeat 
    .row
      .col-6
        %button.btn.btn-mod#remix Remix
      .col-6
        %button.btn.btn-mod#spin Spin 