---
layout: pageTemplate.liquid
filename: post
title: "{{ title }}"
---

<!-- TITLE SECTION -->
<div class="section dark" id="post-head">
  <div class="content">
    <div id="post-title">{{ title }}</div>
    <div id="post-quote">

      {{ description }}</div>
  </div>
</div>

<!-- RETURN SECTION -->
<a
  class="text-small light"
  id="page-return"
  href="/blog">
  <i class="fas fa-arrow-left"></i>
  Back to Archive</a>

<!-- POST SECTION -->
<div class="section" id="post-content">
  <div class="content light">
    <div id="post-text">{{ content }}</div>
    <div id="post-share">
      <a
        href="https://twitter.com/intent/post"
        target="_blank"
        rel="noopener"
        class="fab fa-twitter"></a>
      <a
        href="https://www.facebook.com/share_channel"
        target="_blank"
        rel="noopener"
        class="fab fa-facebook-f"></a>
      <a
        href="https://www.linkedin.com/shareArticle"
        target="_blank"
        rel="noopener"
        class="fab fa-linkedin-in"></a>
      <a
        href="mailto:"
        target="_blank"
        rel="noopener"
        class="far fa-envelope"></a>
    </div>
  </div>
</div>

<script src="/resources/js/media.js"></script>